@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Билет</h2>




<div class="boxticket">
  <ul class="left">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  
  <ul class="right">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <div class="ticket">
    <span class="airline">Airline</span>
    <span class="airline airlineslip">Airline</span>
    <span class="boarding">Ticket</span>
    <div class="content">
      <span class="jfk">@ViewBag.Flight.ArrivalPlace</span>
      <span class="planeticket"><?xml version="1.0" ?><svg clip-rule="evenodd" fill-rule="evenodd" height="60" width="60" image-rendering="optimizeQuality" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg"><g stroke="#222"><line fill="none" stroke-linecap="round" stroke-width="30" x1="300" x2="55" y1="390" y2="390"/><path d="M98 325c-9 10 10 16 25 6l311-156c24-17 35-25 42-50 2-15-46-11-78-7-15 1-34 10-42 16l-56 35 1-1-169-31c-14-3-24-5-37-1-10 5-18 10-27 18l122 72c4 3 5 7 1 9l-44 27-75-15c-10-2-18-4-28 0-8 4-14 9-20 15l74 63z" fill="#222" stroke-linejoin="round" stroke-width="10"/></g></svg></span>
      <span class="sfo">@ViewBag.Flight.DeparturePlace</span>
      
      <span class="jfk jfkslip"></span>
      <span class="planeticket planeticketslip"><?xml version="1.0" ?><svg clip-rule="evenodd" fill-rule="evenodd" height="50" width="50" image-rendering="optimizeQuality" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg"><g stroke="#222"><line fill="none" stroke-linecap="round" stroke-width="30" x1="300" x2="55" y1="390" y2="390"/><path d="M98 325c-9 10 10 16 25 6l311-156c24-17 35-25 42-50 2-15-46-11-78-7-15 1-34 10-42 16l-56 35 1-1-169-31c-14-3-24-5-37-1-10 5-18 10-27 18l122 72c4 3 5 7 1 9l-44 27-75-15c-10-2-18-4-28 0-8 4-14 9-20 15l74 63z" fill="#222" stroke-linejoin="round" stroke-width="10"/></g></svg></span>
      <span class="sfo sfoslip"></span>
      <div class="sub-content">
        <span class="watermark">Airline</span>
        <span class="name">ФИО пассажира<br><span>@ViewBag.Client.SecondName @ViewBag.Client.FirstName @ViewBag.Client.FatherName</span></span>
        <span class="flight">FLIGHT N&deg;<br><span>@ViewBag.Flight.Id</span></span>
        <span class="gate">Выход<br><span>11B</span></span>
        <span class="seatticket">Место<br><span>@ViewBag.Seat</span></span>
        <span class="boardingtime">Время отправления<br><span>@ViewBag.Flight.ArrivalData</span></span>
            
         <span class="flight flightslip">FLIGHT N&deg;<br><span>@ViewBag.Flight.Id</span></span>
          <span class="seatticket seatticketslip">Место<br><span>@ViewBag.Seat</span></span>
         <span class="name nameslip"><br><span></span></span>
      </div>
    </div>
    <div class="barcode"></div>
    <div class="barcode slip"></div>
  </div>
</div>